<h1>Fornecedor <%= @supplier.brand_name %></h1>
<h2></h2>

<dl>
  <dt><%= Supplier.human_attribute_name(:registration_number)%>:</dt>
  <dd><%= @supplier.registration_number %></dd>
  <dt><%= Supplier.human_attribute_name(:full_address)%>:</dt>
  <dd><%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %></dd>
  <dt><%= Supplier.human_attribute_name(:email)%>:</dt>
  <dd><%= @supplier.email %></dd>
</dl> 

<%= link_to 'Editar', edit_supplier_path(@supplier)%>

<div>
  <%= link_to('Voltar', suppliers_path)%>
</div>
