<h1>Galpão <%= @warehouses["code"] %> - <%= @warehouses["name"] %></h1>
<div>
  <%= @warehouses["city"] %>
  <%= @warehouses["area"] %>m2
  <%= @warehouses["address"] %> - CEP <%= @warehouse["cep"] %>
  <%= @warehouses["description"] %>
</div>  